.inline {
    position: relative;
    float: left; 
}

.panel{
    height: 90vh;
}

.myMessage {
    margin-left: auto;
    margin-right:0%;
    color: white;
    background-color: rgb(92, 99, 194);
}
.otherMessage {
    color: white;
    background-color: rgb(116, 194, 92);
}

.otherMessage,.myMessage {
    display: list-item;
    word-break: break-all;
    border-radius: 0.2em;
    min-height: 2em;
    max-width: 100%;
    caret-color: transparent;
    resize:none;    
}

.userli {
    display: block;
    border: 1px solid #000;
    word-wrap:break-word;
    cursor: pointer;
}

.scrollContainer {
    overflow-x: hidden;
    overflow-y: auto;
}

.bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.textBar {
    width: 90%;
    height: 1em;
    resize:none;    
}

.searchBar {
    height: 1em;
    resize:none; 
    width: 85%;
}

.rightButton{
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 1177px) {
    .mobileHideC{
        width: 10%;
    }
    .mobileHideR{
        visibility: visible;
        width: 90%;
    }
    .mobileHideM{
        visibility: collapse;
        width: 0%;
    }
    #btnSwitch{
        visibility: visible;
    }
}
@media screen and (min-width: 1178px) {
    .mobileHideC{
        width: 5%;
    }
    .mobileHideR{
        visibility: visible;
        width: 20%;
    }
    .mobileHideM{
        visibility: visible;
        width: 75%;
    }
    #btnSwitch{
        visibility: hidden;
    }
}

/* Message that JP have added!!!*/